<div *ngIf="members | async as members; else loading">
  <club-details [club]="members"></club-details>
</div>
<ng-template #loading>
  <div class="loader-container">
    <div class="lds-facebook">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</ng-template>
