<div *ngIf="clubs | async as clubs; else loading">
  <div>
    <h2>Clubs leaderboard</h2>
    <p-table [value]="clubs">
      <ng-template pTemplate="header">
        <tr>
          <th>Rank</th>
          <th>Name</th>
          <th>Rep</th>
          <th>Size</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-club>
        <tr>
          <td>{{ club.rank }}</td>
          <td><a routerLink="{{ club.uuid }}">{{ club.name }}</a></td>
          <td>{{ club.rep }}</td>
          <td>{{ club.size }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<ng-template #loading>
  <div class="loader-container">
    <div class="lds-facebook">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</ng-template>