<button pButton type="button" label="Back" (click)="goBack()"></button>

<div *ngIf="club | async as club; else loading">
  <club-details [club]="club"></club-details>
</div>
<ng-template #loading>
  <div class="loader-container">
    <div class="lds-facebook">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</ng-template>