<div>
  <p-table [value]="club">
    <ng-template pTemplate="header">
      <tr>
        <th>Rank</th>
        <th>IGN</th>
        <th>ID</th>
        <th>Rep</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-member>
      <tr>
        <td>{{ member.rank }}</td>
        <td>{{ member.name }}</td>
        <td>{{ member.id }}</td>
        <td>{{ member.score }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>