<nav class="gpb-nav">
  <button class="gpb-nav__button" pButton type="button" label="Prev group" (click)=previousGroup() [disabled]="this.group < 2"></button>
  <button class="gpb-nav__button" pButton type="button" label="Next group" (click)=nextGroup()></button>
  
  <button class="gpb-nav__button" pButton type="button" label="Prev round" (click)=previousRound() [disabled]="this.round < 2"></button>
  <button class="gpb-nav__button" pButton type="button" label="Next round" (click)=nextRound()></button>

  <button class="gpb-nav__button" pButton type="button" label="Group info" (click)=goToInfo()></button>
  <button class="gpb-nav__button" pButton type="button" label="Home" routerLink="/"></button>
</nav>
<div *ngIf="data | async as leaderboard; else loading">
  <p-table [value]="leaderboard">
    <ng-template pTemplate="header">
      <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Club</th>
        <th>Time</th>
        <th>Car rank</th>
        <th>Last update</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-lbentry>
      <tr>
        <td>{{ lbentry.rank }}</td>
        <td>{{ lbentry.name }}</td>
        <td><a routerLink="/clubs/{{ platform }}/{{ lbentry.clubId }}">{{ lbentry.clubName }}</a>
        </td>
        <td>{{ lbentry.time }}</td>
        <td>{{ lbentry.carRank }}</td>
        <td>{{ lbentry.lastUpdate | date: "dd MMM, HH:mm:ss"}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<ng-template #loading>
  <div class="loader-container">
    <div class="lds-facebook">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</ng-template>