.p-tabview {
  padding: 0 !important;
}

.p-tabview-nav {
  display: flex;

  > li {
    flex: 1;

    > .p-tabview-nav-link {
      justify-content: center;
    }
  }
}

.p-tabview-panels {
  padding: 0 !important;
  border: 0 !important;

  .board-title {
    display: block;
    padding: 0.5rem 1.3rem;
    font-size: 1.3rem;
    color: #333333;
    
    > a {
      text-decoration: none;
    }

    &:hover {
      color: #555555;
    }
  }
}

.gp-links {
  padding: 0.2rem 1.3rem;

  &__link {
    display: inline-block;
    font-size: 1.3rem;
    padding: 0.4rem 0 !important;
    text-decoration: none;
  }
}
