<div *ngIf="(boards | async) as boards">
    <p-tabView [activeIndex]="activeTabIndex" (onChange)=handleTabChange($event)>
        <p-tabPanel leftIcon="pi pi-android">
            <span *ngFor="let board of boards.android" class="board-title">
                <a *ngIf="board" routerLink="{{ board.id }}/android">
                    <span>{{ board.title }}</span>
                </a><br>
            </span>
            <div class="gp-links">
                <a class="gp-links__link" routerLink="/gp/q/android/1/1">GP Qual</a><br>
                <a class="gp-links__link" routerLink="/gp/f/android/1/1">GP Finals</a>
            </div>
        </p-tabPanel>
        <p-tabPanel leftIcon="pi pi-apple">
            <span *ngFor="let board of boards.ios" class="board-title">
                <a *ngIf="board" routerLink="{{ board.id }}/ios">   
                    <span>{{ board.title }}</span>
                </a><br>
            </span>
            <div class="gp-links">
                <a class="gp-links__link" routerLink="/gp/q/ios/1/1">GP Qual</a><br>
                <a class="gp-links__link" routerLink="/gp/f/ios/1/1">GP Finals</a>
            </div>
        </p-tabPanel>
        <p-tabPanel leftIcon="pi pi-microsoft">
            <span *ngFor="let board of boards.windows" class="board-title">
                <a *ngIf="board" routerLink="{{ board.id }}/windows">
                    <span>{{ board.title }}</span>
                </a><br>
            </span>
            <div class="gp-links">
                <a class="gp-links__link" routerLink="/gp/q/windows/1/1">GP Qual</a><br>
                <a class="gp-links__link" routerLink="/gp/f/windows/1/1">GP Finals</a>
            </div>
        </p-tabPanel>
    </p-tabView>
</div>