<nav class="gpb-nav">
  <button class="gpb-nav__button" pButton type="button" label="Prev group" (click)=previousGroup() [disabled]="this.group < 2"></button>
  <button class="gpb-nav__button" pButton type="button" label="Next group" (click)=nextGroup()></button>

  <button class="gpb-nav__button" pButton type="button" label="Go to finals" (click)=openFinalsBoard()></button>
  <button class="gpb-nav__button" pButton type="button" label="Home" routerLink="/"></button>
</nav>
<div *ngIf="data | async as leaderboard; else loading">
  <p-table [value]="leaderboard">
    <ng-template pTemplate="header">
      <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Qualification time</th>
        <th>Points in current GP</th>
        <th>Last activity</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-lbentry>
      <tr>
        <td>{{ lbentry.rank }}</td>
        <td>{{ lbentry.name }}</td>
        <td>{{ lbentry.qual_time }}</td>
        <td>{{ lbentry.points }}</td>
        <td>{{ lbentry.lastUpdate | date: "dd MMM, HH:mm:ss"}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<ng-template #loading>
  <div class="loader-container">
    <div class="lds-facebook">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</ng-template>