<button class="back-button" pButton type="button" label="Back" routerLink="/getouttahere"></button>
<div class="page-content">
  <div class="advanced-settings">
    <div class="autorefresh">
      <p-inputSwitch [(ngModel)]="autorefreshEnabled" (onChange)="toggleAutorefresh($event)">
      </p-inputSwitch>
      <span class="autorefresh-label">Autorefresh</span><br>
    </div>
    <div class="offset">
      <input placeholder="Offset" id="offset-input" type="text" pInputText [(ngModel)]="offset" (blur)="onBlur()" />
    </div>
  </div>

  <div *ngIf="data | async as leaderboard; else loading">
    <h2 class="total-players-label">Total players: {{ leaderboard.total_players }}</h2>
    <div *ngIf="leaderboard.type == 'MP'">
      <p-table [value]="leaderboard?.data">
        <ng-template pTemplate="header">
          <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Club</th>
            <th>Points</th>
            <th>Last online</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-lbentry>
          <tr>
            <td>{{ lbentry.rank }}</td>
            <td>{{ lbentry.name }}</td>
            <td><a routerLink="/clubs/{{ platform }}/{{ lbentry.clubId }}">{{ lbentry.club }}</a>
            </td>
            <td>{{ lbentry.points }}</td>
            <td>{{ lbentry.last_time_played | date: "dd MMM, HH:mm:ss" }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div *ngIf="leaderboard.type == 'TLE'">
      <p-table [value]="leaderboard?.data">
        <ng-template pTemplate="header">
          <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Club</th>
            <th>Car</th>
            <th>Car rank</th>
            <th>Time</th>
            <th>Updated on</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-lbentry>
          <tr>
            <td>{{ lbentry.rank }}</td>
            <td>{{ lbentry.name }}</td>
            <td><a routerLink="/clubs/{{ platform }}/{{ lbentry.clubId }}">{{ lbentry.club }}</a>
            </td>
            <td>{{ lbentry.car }}</td>
            <td>{{ lbentry.car_rank }}</td>
            <td>{{ lbentry.result }}</td>
            <td>{{ lbentry.timestamp | date:'MMM d y, HH:mm:ss' }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <ng-template #loading>
    <div class="loader-container">
      <div class="lds-facebook">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </ng-template>
</div>