.p-datatable.p-component {
  padding: 0.5rem;

  table {
    width: auto;
  }

  td {
    max-width: 300px;
    overflow-x: hidden;
  }
}

.page-content {
  margin-top: 3rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.p-button {
  position: fixed;
  z-index: 10;
  top: 0px;
  left: 0px;
  width: 100%;
  border-radius: 0 !important;
  padding: 0.8rem 1rem;
  border-width: 0 0 2px 0 !important;
  border-color: #dee2e6;
  text-align: left;
  background-color: #ffffff;
  color: #777777;

  font-weight: 600;

  &:enabled:hover {
    border-color: #2196f3;
    color: #2143ff;
    background-color: #ffffff;
  }
}

.advanced-settings {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  max-width: 40rem;

  .autorefresh {
    display: flex;
    align-items: center;

    .ui-inputswitch {
      margin-top: 0.2rem
    }
  }

  .autorefresh-label {
    margin-left: 0.3rem;
  }

  #offset-input {
    border: 1px solid grey;
    border-radius: 2px;
    padding: 0.3rem;

    &:focus, &:active, &:hover {
      outline: 0 !important;
      border-color: #007ad9;
    }
  }
}

.total-players-label {
  margin: 0;
  padding: 0.5rem;
}