<button pButton type="button" label="Back" (click)="goBack()"></button>

<div *ngIf="blueprintData | async as blueprintData; else loading">
  <p-table [value]="blueprintData">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Blueprints</th>
        <th>Has car</th>
        <th>Upgrade tier</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-member>
      <tr>
        <td>{{ member.name }}</td>
        <td>{{ member.blueprints }}</td>
        <td>{{ member.hasCar }}</td>
        <td>{{ member.upgradeTier }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<ng-template #loading>
  <div class="loader-container">
    <div class="lds-facebook">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</ng-template>