<div class="ads-container">
    <div>
        <div class="status-bar">
            <h2>Fuel</h2>
            <span *ngIf="statuses">
                <span class="status-label label-active" *ngIf="statuses.fuel">Active</span>
                <span class="status-label label-inactive" *ngIf="!statuses.fuel">
                    Not active</span>
            </span>
        </div>
        <button class="activation-toggle" pButton type="button" label="Activate" (click)="setStatus('fuel', 1)"></button>
        <button class="activation-toggle" pButton type="button" label="Deactivate" (click)="setStatus('fuel', 0)"></button>
    </div>
    <div>
        <div class="status-bar">
            <h2>Tickets</h2>
            <span *ngIf="statuses">
                <span class="status-label label-active" *ngIf="statuses.tickets">Active</span>
                <span class="status-label label-inactive" *ngIf="!statuses.tickets">Not active</span>
            </span>
        </div>
        <button class="activation-toggle" pButton type="button" label="Activate" (click)="setStatus('tickets', 1)"></button>
        <button class="activation-toggle" pButton type="button" label="Deactivate"
            (click)="setStatus('tickets', 0)"></button>
    </div>
    <div>
        <div class="status-bar">
            <h2>Syndicate tickets</h2>
            <span *ngIf="statuses">
                <span class="status-label label-active" *ngIf="statuses.ds_tickets">Active</span>
                <span class="status-label label-inactive" *ngIf="!statuses.ds_tickets">Not active</span>
            </span>
        </div>
        <button disabled class="activation-toggle" pButton type="button" label="Activate"
            (click)="setStatus('ds_tickets', 1)"></button>
        <button disabled class="activation-toggle" pButton type="button" label="Deactivate"
            (click)="setStatus('ds_tickets', 0)"></button>
    </div>
</div>