.status-bar {
    display: flex;
    align-items: center;

    h2 {
        margin-right: 1rem;
    }
}

.ads-container {
    padding: 0 1rem;
}

button.activation-toggle {
    margin: 0 0.1rem;
}

.status-label {
    font-weight: 600;
    font-size: 20px;
}

.label-active {
    color: green;
}

.label-inactive {
    color: red;
}